
h2.top_title OPINION-BOX
.flex_box
  = link_to 'Sign-In', login_form_users_path, class: 'btn btn-outline-primary',id:'sign_in_btn'
  = link_to 'Sign-up', new_user_path, class: 'btn btn-outline-secondary',id:'sign_up_btn'