<div class="row">
    <div class="col-xs-12 col-md-12 col-ms-12 col-sm-12">
        <h2>OPINION-BOX</h2>
        <div class=flex-box>
            <%= link_to ’Sign-In','' %>
            <%= link_to 'Sign-up','' %>
        </div>
    </div>
</div>

